
#right{
    width: 50%;
    height: 1000px;
    border: 1px solid black;
    background-color: gray;


}
#right>img{
    width: 80%;
    margin-top: 30px;
    
}
form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}
form>input{
    padding: 10px;
}
.go{
    background-color: yellow;
}
#signUp{
    display: flex;
}
#signUp>div{
    display: flex;
    margin: auto;
    gap: 10px;
}
#signUp>div>input{
    padding: 10px;
    width: 100%;
}

.ads{
    display: flex;
}